* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

input,
textarea {
  border: 0;
  outline: 0;
}

.editor-text {
  width: 100%;
  border: none;
  padding: 5px 10px;
  font-size: 25px;
  background: transparent;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 10px;

  &:hover {
    background: rgba(128, 128, 128, 0.171);
  }

  &:focus-visible {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
  }
}

.action-btn {
  padding: 10px;
  width: 50px;
  height: 50px;
  transition: background-color 0.1s ease-in;
  cursor: pointer;

  svg {
    width: 32px !important;
    height: 32px !important;
  }

  border-radius: 50px;
  &:hover {
    background-color: rgba(218, 218, 218, 0.384);
  }
}

.color-picker {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 5px;
  cursor: pointer;
  transition: height ease-in 0.1s;
  border: solid rgba(128, 128, 128, 0.281) 1px;
  &:hover {
    height: 65px;
  }
}

.palette {
  position: absolute;
  z-index: 2;
  background: white;
  padding: 30px;
  box-shadow: 1px 0px 16px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 1px 0px 16px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 0px 16px 0px rgba(0, 0, 0, 0.35);
  right: 0px;
}

.hidden {
  display: none !important;
}

#featured,
#notes {
  width: 100%;
  min-height: 50vh;
  display: flex;

  & > div {
    margin: 5px;
  }
}

#featured {
  border: solid rgba(128, 128, 128, 0.384);
  background: rgba(83, 83, 83, 0.205);
}

#notes {
  border: solid rgba(221, 221, 221, 0.384);
  background: rgba(226, 226, 226, 0.205);
}

.footer {
  display: flex;
}
